
.spad{
  margin-top: 100px;
  margin-bottom: 100px;
}
.blog {
	padding-bottom: 55px;
}

.banner__item {
	position: relative;
	overflow: hidden;
}

.banner__item:hover .banner__item__text a:after {
	width: 40px;
	background: #e53637;
}

.banner__item.banner__item--middle {
	margin-top: -75px;
}

.banner__item.banner__item--middle .banner__item__pic {
	float: none;
}

.banner__item.banner__item--middle .banner__item__text {
	position: relative;
	top: 0;
	left: 0;
	max-width: 100%;
	padding-top: 22px;
}

.banner__item.banner__item--last {
	margin-top: 100px;
}

.banner__item__pic {
	float: right;
}

.banner__item__text {
	max-width: 300px;
	position: absolute;
	left: 0;
	top: 140px;
}

.banner__item__text h2 {
	color: #111111;
	font-weight: 700;
	line-height: 46px;
	margin-bottom: 10px;
}

.banner__item__text a {
	display: inline-block;
	color: #111111;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 4px;
  text-decoration: none;
	text-transform: uppercase;
	padding: 3px 0;
	position: relative;
}

.banner__item__text a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #111111;
	content: "";
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product-section {
  margin-left:100px ;
	margin-bottom: 100px;
}
.product-disclosure img{
  width: 260px;
  height: 262px;
}
.product-disclosure h6{
  padding: 25px 0px 0px 0px;
font-size: 15px;
}
.product-disclosure h5{
  padding: 24px 0px 0px 0px;
font-size: 18px;
}
.product-disclosure a{
 margin-top: 15px;
}
.product-disclosure{
  margin-left: 30px;
  margin-top: 30px;
}
.section-promotion{
	background-color:#f3f2ee; 
	padding-top:150px;
	 padding-bottom:125px ;

}
.section-promotion .title h2{
	color:#b7b7b7 ;
}
.section-promotion .title{
	margin-left: 70px;

	margin-top: 50px;

}
.promotion-img{
	margin-left: 20px;
}
.promotion-img img{
	width: 400px; 
	height:400px
}
.promotion-info{
	margin-left: 20px;

}
.promotion-info p{
	color: #e53637;
}
.social-network{

margin-top: 180px;
}
.social-network h3{
	margin-top: 50px;
}

