@import url('shop.css');
@import url('home.css');
@import url('cart.css');
@import url('contact.css');

*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

/*---------------------
  nav
-----------------------*/
.nav-link{
  font-size: 18px;
  color: #111111;
  font-weight: 600;
}


#navbar .botao{
  border: none;
  background-color: #ffffff;
  
}
#navbar .botao img{
  width: 20px;
}
.cart-nave{
  width: 170.66px;
  height: 33px; 
  margin-left: 20px;
}
.cart-nave img{
  width: 22px;
  height: 27px;
  margin-top: 5px;
  margin-right: 5px;
  
 
}
.cart-nave h5{
  font-size: 12px;
  margin-bottom: 0px;
}
.cart-nave span{
  font-size: 11.2px;
}
.group{
	align-items: center;
}
.handbag div{
	width: 150px;
	margin-right: 10px;
}
.handbag .text {
  text-decoration:none ; 
  color:#424242;

}
.handbag li{
	width: 100px;
	margin-right: 10px;
}
.profile{
	margin-left: 60px;
	margin-top: 12px;
}
.profile div p{
	font-size: 12px;
}
.dropdown:hover .dropdown-menu {
	display: block;
	position: absolute;
	transform: translate3d(5px, 28px, 0px); /* distancia entre menu e btn */
	top: 5px;
	left: 0px;
	will-change: transform;
}
.dropdown {
	display: inline-block; /* deixa o LO do "tamanho do próprio texto" e não da largura inteira da tela*/
	list-style: none; /* rita a "bolinha" do LI*/
}
/*---------------------
  footer
-----------------------*/

footer{
  background-color: #111111;
}
footer p{
 color:#b7b7b7 ; 
}
