@import url('shop.css');

*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

/*---------------------
  nav
-----------------------*/
.nav-link{
  font-size: 18px;
  color: #111111;
  font-weight: 600;
}


#navbar .botao{
  border: none;
  background-color: #ffffff;
  
}
#navbar .botao img{
  width: 20px;
}
.cart-nave{
  width: 170.66px;
  height: 33px; 
  margin-left: 20px;
}
.cart-nave img{
  width: 22px;
  height: 27px;
  margin-top: 5px;
  margin-right: 5px;
  
 
}
.cart-nave h5{
  font-size: 12px;
  margin-bottom: 0px;
}
.cart-nave span{
  font-size: 11.2px;
}
.group{
	align-items: center;
}
.handbag div{
	width: 150px;
	margin-right: 10px;
}
.handbag li{
	width: 100px;
	margin-right: 10px;
}
.profile{
	margin-left: 60px;
	margin-top: 12px;
}
.profile div p{
	font-size: 12px;
}
.dropdown:hover .dropdown-menu {
	display: block;
	position: absolute;
	transform: translate3d(5px, 28px, 0px); /* distancia entre menu e btn */
	top: 10px;
	left: 0px;
	will-change: transform;
}
.dropdown {
	display: inline-block; /* deixa o LO do "tamanho do próprio texto" e não da largura inteira da tela*/
	list-style: none; /* rita a "bolinha" do LI*/
}

/*---------------------
  Banner
-----------------------*/
.spad{
  margin-top: 100px;
  margin-bottom: 100px;
}
.blog {
	padding-bottom: 55px;
}

.banner__item {
	position: relative;
	overflow: hidden;
}

.banner__item:hover .banner__item__text a:after {
	width: 40px;
	background: #e53637;
}

.banner__item.banner__item--middle {
	margin-top: -75px;
}

.banner__item.banner__item--middle .banner__item__pic {
	float: none;
}

.banner__item.banner__item--middle .banner__item__text {
	position: relative;
	top: 0;
	left: 0;
	max-width: 100%;
	padding-top: 22px;
}

.banner__item.banner__item--last {
	margin-top: 100px;
}

.banner__item__pic {
	float: right;
}

.banner__item__text {
	max-width: 300px;
	position: absolute;
	left: 0;
	top: 140px;
}

.banner__item__text h2 {
	color: #111111;
	font-weight: 700;
	line-height: 46px;
	margin-bottom: 10px;
}

.banner__item__text a {
	display: inline-block;
	color: #111111;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 4px;
  text-decoration: none;
	text-transform: uppercase;
	padding: 3px 0;
	position: relative;
}

.banner__item__text a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #111111;
	content: "";
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}


